@model CoreProject.Models.ViewModel.UserAccountViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details about @User.Identity.Name</h1>

<div id="UserMainInfoDiv">
    <h4>User Main Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Login)
        </dd>
       
    </dl>
    <a class="btn btn-primary" asp-action="ChangePassword" asp-route-id="@Model.User.Id">Change Password</a>
    <a class="btn btn-primary" asp-action="ChangeLogin" asp-route-id="@Model.User.Id">Change Login</a>
</div>

<div id="UserAddInfoDiv">
    <h4>User Additional Info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.DateBorn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.DateBorn)
        </dd> 
    </dl>
    <a class="btn btn-primary"  asp-action="Edit" asp-route-id="@Model.User.Id">Edit</a>
</div>

<div>

</div>
